@import url(//fonts.googleapis.com/css?family=Open+Sans:400);

body {
	margin: 0;
	padding: 0;
	transition: all 0.8s;
}

h1, h2 {
	font-family: "Open Sans";
	font-weight: 400;
	color: white;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 2.5em;
}

.centered {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#hex {
	padding-top: 45%;
}

#github-badge {
	height: 30px;
	width: 160px;
	position: absolute;
	bottom: 0;
	padding: 1em;
}

@media (max-width: 1024px) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}
}